/* Custom scrollbar for the event log */
.log-container::-webkit-scrollbar { 
  width: 5px; 
}

.log-container::-webkit-scrollbar-track { 
  background: transparent; 
}

.log-container::-webkit-scrollbar-thumb { 
  background: #e2e8f0; 
  border-radius: 10px; 
}